In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("common_player_info.csv")
df.head(5)

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         4171 non-null   int64
 1   first_name                        4171 non-null   object
 2   last_name                         4171 non-null   object
 3   display_first_last                4171 non-null   object
 4   display_last_comma_first          4171 non-null   object
 5   display_fi_last                   4171 non-null   object
 6   player_slug                       4171 non-null   object
 7   birthdate                         4171 non-null   object
 8   school                            4156 non-null   object
 9   country                           4170 non-null   object
 10  last_affiliation                  4171 non-null   object
 11  height                            4075 non-null   object
 12  weight                            4071 non-null   float64
 13  season_exp                        4171 non-null   float64
 14  jersey                            3191 non-null   object
 15  position                          4108 non-null   object
 16  rosterstatus                      4171 non-null   object
 17  games_played_current_season_flag  4171 non-null   object
 18  team_id                           4171 non-null   int64
 19  team_name                         3469 non-null   object
 20  team_abbreviation                 3469 non-null   object
 21  team_code                         3469 non-null   object
 22  team_city                         3469 non-null   object
 23  playercode                        4170 non-null   object
 24  from_year                         4156 non-null   float64
 25  to_year                           4156 non-null   float64
 26  dleague_flag                      4171 non-null   object
 27  nba_flag                          4171 non-null   object
 28  games_played_flag                 4171 non-null   object
 29  draft_year                        4171 non-null   object
 30  draft_round                       4007 non-null   object
 31  draft_number                      3948 non-null   object
 32  greatest_75_flag                  4171 non-null   object
dtypes: float64(4), int64(2), object(27)
memory usage: 1.1+ MB

In [ ]:
#Expresa el porcentaje de valores nulos de cada columna
missingData = df.isnull().mean() * 100
print(missingData[missingData > 0].sort_values(ascending=False))

jersey               23.495565
team_name            16.830496
team_abbreviation    16.830496
team_code            16.830496
team_city            16.830496
draft_number          5.346440
draft_round           3.931911
weight                2.397507
height                2.301606
position              1.510429
school                0.359626
from_year             0.359626
to_year               0.359626
country               0.023975
playercode            0.023975
dtype: float64

In [7]:
df.shape

(4171, 33)

In [11]:
dfEliminados = df.drop(["first_name", "last_name", "display_last_comma_first", "display_fi_last", "player_slug", "last_affiliation", "dleague_flag", "nba_flag", "games_played_flag", "draft_year", "draft_round", "draft_number", "team_abbreviation", "team_code", "team_city", "playercode", "from_year", "to_year" ], axis=1)
dfEliminados.head(5)

,person_id,display_first_last,birthdate,school,country,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,greatest_75_flag
0,76001,Alaa Abdelnaby,1968-06-24 00:00:00,Duke,USA,6-10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,N
1,76003,Kareem Abdul-Jabbar,1947-04-16 00:00:00,UCLA,USA,7-2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,Y
2,1505,Tariq Abdul-Wahad,1974-11-03 00:00:00,San Jose State,France,6-6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,N
3,949,Shareef Abdur-Rahim,1976-12-11 00:00:00,California,USA,6-9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,N
4,76005,Tom Abernethy,1954-05-06 00:00:00,Indiana,USA,6-7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,N

In [ ]:
#Cambiamos el nombre de la columna
dfEliminados = dfEliminados.rename(columns={'display_first_last': 'player_name'})
dfEliminados.head(5)

,person_id,player_name,birthdate,school,country,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,greatest_75_flag
0,76001,Alaa Abdelnaby,1968-06-24 00:00:00,Duke,USA,6-10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,N
1,76003,Kareem Abdul-Jabbar,1947-04-16 00:00:00,UCLA,USA,7-2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,Y
2,1505,Tariq Abdul-Wahad,1974-11-03 00:00:00,San Jose State,France,6-6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,N
3,949,Shareef Abdur-Rahim,1976-12-11 00:00:00,California,USA,6-9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,N
4,76005,Tom Abernethy,1954-05-06 00:00:00,Indiana,USA,6-7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,N

In [ ]:
#Cambiamos el tipo de dato de season_exp
dfEliminados["season_exp"] = dfEliminados["season_exp"].astype(int)
dfEliminados.head(5)

,person_id,player_name,birthdate,school,country,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,greatest_75_flag
0,76001,Alaa Abdelnaby,1968-06-24 00:00:00,Duke,USA,6-10,240.0,5,30,Forward,Inactive,N,1610612757,Trail Blazers,N
1,76003,Kareem Abdul-Jabbar,1947-04-16 00:00:00,UCLA,USA,7-2,225.0,20,33,Center,Inactive,N,1610612747,Lakers,Y
2,1505,Tariq Abdul-Wahad,1974-11-03 00:00:00,San Jose State,France,6-6,235.0,7,9,Forward-Guard,Inactive,N,1610612758,Kings,N
3,949,Shareef Abdur-Rahim,1976-12-11 00:00:00,California,USA,6-9,245.0,13,3,Forward,Inactive,N,1610612763,Grizzlies,N
4,76005,Tom Abernethy,1954-05-06 00:00:00,Indiana,USA,6-7,220.0,5,5,Forward,Inactive,N,1610612744,Warriors,N

In [15]:
dfEliminados.shape

(4171, 15)