In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("play_off_totals_2010_2024.csv")
df.head(5)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2010-11,1610612737,ATL,Atlanta Hawks,41000205,2011-05-10T00:00:00,ATL @ CHI,L,48.0,34,...,43,32,159,70,18,68,142,140,139,NaN
1,2010-11,1610612737,ATL,Atlanta Hawks,41000201,2011-05-02T00:00:00,ATL @ CHI,W,48.0,40,...,43,16,35,21,109,22,142,24,39,NaN
2,2010-11,1610612737,ATL,Atlanta Hawks,41000202,2011-05-04T00:00:00,ATL @ CHI,L,48.0,26,...,137,51,15,3,66,8,129,159,145,NaN
3,2010-11,1610612737,ATL,Atlanta Hawks,41000132,2011-04-19T00:00:00,ATL @ ORL,L,48.0,32,...,123,107,67,38,6,144,85,144,106,NaN
4,2010-11,1610612737,ATL,Atlanta Hawks,41000135,2011-04-26T00:00:00,ATL @ ORL,L,48.0,25,...,123,63,153,122,42,79,28,157,159,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2362 entries, 0 to 2361
Data columns (total 57 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_YEAR        2362 non-null   object
 1   TEAM_ID            2362 non-null   int64
 2   TEAM_ABBREVIATION  2362 non-null   object
 3   TEAM_NAME          2362 non-null   object
 4   GAME_ID            2362 non-null   int64
 5   GAME_DATE          2362 non-null   object
 6   MATCHUP            2362 non-null   object
 7   WL                 2362 non-null   object
 8   MIN                2362 non-null   float64
 9   FGM                2362 non-null   int64
 10  FGA                2362 non-null   int64
 11  FG_PCT             2362 non-null   float64
 12  FG3M               2362 non-null   int64
 13  FG3A               2362 non-null   int64
 14  FG3_PCT            2362 non-null   float64
 15  FTM                2362 non-null   int64
 16  FTA                2362 non-null   int64
 17  FT_PCT             2362 non-null   float64
 18  OREB               2362 non-null   int64
 19  DREB               2362 non-null   int64
 20  REB                2362 non-null   int64
 21  AST                2362 non-null   int64
 22  TOV                2362 non-null   float64
 23  STL                2362 non-null   int64
 24  BLK                2362 non-null   int64
 25  BLKA               2362 non-null   int64
 26  PF                 2362 non-null   int64
 27  PFD                2362 non-null   int64
 28  PTS                2362 non-null   int64
 29  PLUS_MINUS         2362 non-null   float64
 30  GP_RANK            2362 non-null   int64
 31  W_RANK             2362 non-null   int64
 32  L_RANK             2362 non-null   int64
 33  W_PCT_RANK         2362 non-null   int64
 34  MIN_RANK           2362 non-null   int64
 35  FGM_RANK           2362 non-null   int64
 36  FGA_RANK           2362 non-null   int64
 37  FG_PCT_RANK        2362 non-null   int64
 38  FG3M_RANK          2362 non-null   int64
 39  FG3A_RANK          2362 non-null   int64
 40  FG3_PCT_RANK       2362 non-null   int64
 41  FTM_RANK           2362 non-null   int64
 42  FTA_RANK           2362 non-null   int64
 43  FT_PCT_RANK        2362 non-null   int64
 44  OREB_RANK          2362 non-null   int64
 45  DREB_RANK          2362 non-null   int64
 46  REB_RANK           2362 non-null   int64
 47  AST_RANK           2362 non-null   int64
 48  TOV_RANK           2362 non-null   int64
 49  STL_RANK           2362 non-null   int64
 50  BLK_RANK           2362 non-null   int64
 51  BLKA_RANK          2362 non-null   int64
 52  PF_RANK            2362 non-null   int64
 53  PFD_RANK           2362 non-null   int64
 54  PTS_RANK           2362 non-null   int64
 55  PLUS_MINUS_RANK    2362 non-null   int64
 56  AVAILABLE_FLAG     2026 non-null   float64
dtypes: float64(7), int64(44), object(6)
memory usage: 1.0+ MB

In [16]:
df["SEASON_YEAR"]

0       2010-11
1       2010-11
2       2010-11
3       2010-11
4       2010-11
         ...
2357    2023-24
2358    2023-24
2359    2023-24
2360    2023-24
2361    2023-24
Name: SEASON_YEAR, Length: 2362, dtype: object

In [19]:
df.shape

(2362, 57)

In [18]:
fechaSeleccionada = df[df["SEASON_YEAR"] == "2022-23"]
fechaSeleccionada

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
2008,2022-23,1610612737,ATL,Atlanta Hawks,42200115,2023-04-25T00:00:00,ATL @ BOS,W,48.0,45,...,41,21,111,81,157,29,75,43,79,1.0
2009,2022-23,1610612737,ATL,Atlanta Hawks,42200112,2023-04-18T00:00:00,ATL @ BOS,L,48.0,43,...,115,131,20,81,166,6,167,100,137,1.0
2010,2022-23,1610612737,ATL,Atlanta Hawks,42200111,2023-04-15T00:00:00,ATL @ BOS,L,48.0,38,...,89,49,7,81,128,37,141,132,137,1.0
2011,2022-23,1610612751,BKN,Brooklyn Nets,42200121,2023-04-15T00:00:00,BKN @ PHI,L,48.0,39,...,89,165,147,58,33,19,117,121,156,1.0
2012,2022-23,1610612751,BKN,Brooklyn Nets,42200122,2023-04-17T00:00:00,BKN @ PHI,L,48.0,30,...,72,21,20,158,128,82,40,165,133,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,2022-23,1610612756,PHX,Phoenix Suns,42200175,2023-04-25T00:00:00,PHX vs. LAC,W,48.0,51,...,9,21,60,81,2,163,60,2,58,1.0
2172,2022-23,1610612758,SAC,Sacramento Kings,42200162,2023-04-17T00:00:00,SAC vs. GSW,W,48.0,42,...,102,98,13,58,12,152,7,63,48,1.0
2173,2022-23,1610612758,SAC,Sacramento Kings,42200165,2023-04-26T00:00:00,SAC vs. GSW,L,48.0,42,...,102,160,35,115,128,53,18,54,112,1.0
2174,2022-23,1610612758,SAC,Sacramento Kings,42200167,2023-04-30T00:00:00,SAC vs. GSW,L,48.0,36,...,115,12,147,58,112,130,29,128,156,1.0
2175,2022-23,1610612758,SAC,Sacramento Kings,42200161,2023-04-15T00:00:00,SAC vs. GSW,W,48.0,44,...,148,78,20,115,128,130,11,16,75,1.0

In [20]:
fechaSeleccionada.shape

(168, 57)

In [22]:
fechaSeleccionada.to_csv("play_off_totals_2010_2024_sql.csv")