In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("play_off_box_scores_2010_2024.csv")
df.head(5)

,season_year,game_date,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,personName,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2011-12,2012-06-03,41100304,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,0
1,2011-12,2012-06-09,41100307,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,0
2,2010-11,2011-06-05,41000403,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,1,1,1,0,0,0,1,1,6
3,2011-12,2012-04-28,41100111,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,3
4,2011-12,2012-05-15,41100202,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31185 entries, 0 to 31184
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season_year              31185 non-null  object
 1   game_date                31185 non-null  object
 2   gameId                   31185 non-null  int64
 3   teamId                   31185 non-null  int64
 4   teamCity                 31185 non-null  object
 5   teamName                 31185 non-null  object
 6   teamTricode              31185 non-null  object
 7   teamSlug                 31185 non-null  object
 8   personId                 31185 non-null  int64
 9   personName               31185 non-null  object
 10  position                 11810 non-null  object
 11  comment                  6283 non-null   object
 12  jerseyNum                0 non-null      float64
 13  minutes                  24902 non-null  object
 14  fieldGoalsMade           31185 non-null  int64
 15  fieldGoalsAttempted      31185 non-null  int64
 16  fieldGoalsPercentage     31185 non-null  float64
 17  threePointersMade        31185 non-null  int64
 18  threePointersAttempted   31185 non-null  int64
 19  threePointersPercentage  31185 non-null  float64
 20  freeThrowsMade           31185 non-null  int64
 21  freeThrowsAttempted      31185 non-null  int64
 22  freeThrowsPercentage     31185 non-null  float64
 23  reboundsOffensive        31185 non-null  int64
 24  reboundsDefensive        31185 non-null  int64
 25  reboundsTotal            31185 non-null  int64
 26  assists                  31185 non-null  int64
 27  steals                   31185 non-null  int64
 28  blocks                   31185 non-null  int64
 29  turnovers                31185 non-null  int64
 30  foulsPersonal            31185 non-null  int64
 31  points                   31185 non-null  int64
 32  plusMinusPoints          31185 non-null  int64
dtypes: float64(4), int64(19), object(10)
memory usage: 7.9+ MB

In [5]:
df.shape

(31185, 33)

In [6]:
fechaSeleccionada = df[df["season_year"] == "2022-23"]
fechaSeleccionada

,season_year,game_date,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,personName,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
764,2022-23,2023-05-17,42200301,1610612748,Miami,Heat,MIA,heat,2617,Udonis Haslem,...,0,0,0,0,0,0,0,0,0,0
770,2022-23,2023-05-02,42200202,1610612748,Miami,Heat,MIA,heat,2617,Udonis Haslem,...,0,0,0,0,0,0,0,0,0,0
775,2022-23,2023-06-12,42200405,1610612748,Miami,Heat,MIA,heat,2617,Udonis Haslem,...,0,0,0,0,0,0,0,0,0,0
788,2022-23,2023-05-21,42200303,1610612748,Miami,Heat,MIA,heat,2617,Udonis Haslem,...,0,0,0,0,0,0,0,0,0,0
802,2022-23,2023-04-19,42200102,1610612748,Miami,Heat,MIA,heat,2617,Udonis Haslem,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28028,2022-23,2023-04-23,42200144,1610612750,Minnesota,Timberwolves,MIN,timberwolves,1631169,Josh Minott,...,0,0,0,0,0,0,0,0,0,0
28029,2022-23,2023-04-19,42200142,1610612750,Minnesota,Timberwolves,MIN,timberwolves,1631169,Josh Minott,...,0,0,0,0,0,0,0,0,0,0
28030,2022-23,2023-04-25,42200145,1610612750,Minnesota,Timberwolves,MIN,timberwolves,1631169,Josh Minott,...,0,0,0,0,0,0,0,0,0,0
28031,2022-23,2023-04-16,42200141,1610612750,Minnesota,Timberwolves,MIN,timberwolves,1631169,Josh Minott,...,0,0,0,0,2,1,1,1,0,-4
28033,2022-23,2023-04-21,42200143,1610612750,Minnesota,Timberwolves,MIN,timberwolves,1631169,Josh Minott,...,0,0,0,0,0,0,0,0,0,0

In [7]:
fechaSeleccionada.shape

(2321, 33)

In [9]:
fechaSeleccionada.to_csv("play_off_box_scores_2010_2024_sql.csv")